body
{
 margin:0px; auto;
 padding:0px;
 font-family:helvetica;
 background-color:#D8CEF6;
}
#wrapper
{
 width:995px;
 padding:0px;
 margin:0px auto;
 font-family:helvetica;
 text-align:center;
}
form
{
 margin-left:300px;
 width:400px;
 margin-top:20px;
 padding:20px;
 background-color:#9F81F7;
 border-radius:3px;
}
td
{
 max-width:250px;
 color:white;
 font-weight:bold;
}
input[type="text"],input[type="password"]
{
 width:200px;
 height:35px;
 border-radius:3px;
 padding-left:5px;
 border:1px solid silver;
}
.error_text
{
 margin:0px;
 color:#DF013A;	
 font-weight:normal;
 font-size:14px;
}
input[type="submit"]
{
 background:none;
 border:none;
 background-color:#8000FF;
 color:white;
 width:100px;
 height:35px;
 border-radius:3px;
 font-size:16px;
 margin-top:20px;
}